<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.unice.polytech.si5.smarthome.am.design.Activator"
               id="fr.unice.polytech.si5.smarthome.am.design"
	       name="smarthome">
    </component>
  </extension>
</plugin>
